extends layout

block content
  .primary
    ul.lists
      for list in lists
        li.list= list.name
    .content
      ul.todos
        li: input(placeholder="_buy _grow avocados" autofocus)
        for todo in todos
          li= todo.title
  .secondary
    ul
      li: p n: new todo
      li: p [space]: mark done
