doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrapper
      block content
    .for-help
      p ? for help

    script(src='/javascripts/main.js')
