@import reset

/* ========DEBUGGING======= */
@import pesticide
pesticideIsOn = false
if pesticideIsOn
  {pesticide}
/* ======================== */

white = hsla(0, 0%, 98%, 1)
grey_light = darken(white, 10%)
grey = darken(grey_light, 30%)
grey_dark = darken(grey, 30%)
black = darken(grey_dark, 30%)

html
  box-sizing border-box
  font-size 16px

*, *:before, *:after
  box-sizing inherit

body
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  padding 7%
  background-color white
  font-family monospace
  color black
  .wrapper
    width 100%
    height 100%
    justify-content space-around
    flex-direction column
    &, .primary, .primary .content
      display flex
    .primary
      align-items center
      height 100%
      > ul
        padding 0 20% 0 0
        li
          margin 30% 0
          padding 6% 16% 8% 12%
          border 1px solid hsla(0, 0%, 0%, 0)
          &::before
            content '_'
            color grey_light
          &:hover, & selected
            border 1px solid grey_light
            background-color hsla(0, 0%, 100%, 1)
      .content
        margin 0 0 0 1%
        li
          margin 3% 0
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
    .secondary
      display none
      color grey
      & .reveal
        display initial
  .for-help
    position fixed
    right 0
    bottom 0
    margin 0 15px 10px 0
    color grey_light

/*
body
  &, > .content
    display flex
  & // TODO: other items later
    align-items center
  padding 0 10%
  .lists, .content
    li
      margin 10px 0
  .lists
    li
      padding 10%
  .content
    .todos
      input
        background-color hsla(0, 0%, 100%, 0)
        color inherit
        font-family inherit
        font-size inherit
        outline 0
        border 0
        border-bottom 1px solid black
*/
